<app-navbar></app-navbar>
<div class="docentes-container" style="display: flex; flex-wrap: wrap; gap: 2rem; justify-content: center; padding: 2rem;">
    <div class="card" style="width: 300px;">
        <div class="img" style="background: url('') center/cover; height: 180px; border-radius: 8px 8px 0 0;"></div>
        <span> Diego Ortega Garcés </span>
        <p class="info">Soy Diego Ortega Garcés, un líder apasionado en tecnología, educación superior, dirección de proyectos y el ámbito empresarial, con una sólida trayectoria en la innovación y la excelencia.</p>
        <div class="share">
           
        </div>
        
    </div>
    <div class="card" style="width: 300px;">
        <div class="img" style="background: url('') center/cover; height: 180px; border-radius: 8px 8px 0 0;"></div>
        <span>Ing. Eduardo Javier Avilés</span>
        <p class="info">Profesional apasionado por el desarrollo de software con especialización en IoT e IA.</p>
        <div class="share">
         
        </div>
        
    </div>
    <div class="card" style="width: 300px;">
        <div class="img" style="background: url('') center/cover; height: 180px; border-radius: 8px 8px 0 0;"></div>
        <span>Ing. Ximena Marcillo</span>
        <p class="info">Soy Ingeniera en Sistemas con mención en Telemática, y me gradué de la Universidad Politécnica Salesiana.</p>
        <div class="share">
            
            
        </div>
        
    </div>
</div>


<app-footer></app-footer>   
