  <body>
    <nav>
      <div class="navbar">
        <div class="container nav-container">
            <label>
              <input class="checkbox" type="checkbox" name="" id="" title="Toggle navigation menu" />
              Toggle navigation menu
            </label>
          <div class="logo">
            <h1>Itq</h1>
          </div>
          <div class="menu-items">
            <li><a href="/home">Home</a></li>
            <li><a href="/malla">Malla Curricular</a></li>
            <li><a href="/docente">Personal docente</a></li>
            <li><a href="/proyecto">Proyectos/Tesis</a></li>
            <li><a href="/autoridades">Comunicado</a></li>
          </div>
        </div>
      </div>
    </nav>
  </body>